
@model List<ShoppingBagItem>

<!-- Page Header Start -->
<div class="container-fluid page-header wow fadeIn" data-wow-delay="0.1s">
    <div class="container">
        <h1 class="display-3 mb-3 animated slideInDown">Shopping Bag</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a class="text-body" asp-controller="Home" asp-action="GetHomeView">Home</a></li>
                <li class="breadcrumb-item text-dark active" aria-current="page">Shopping Bag</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->



<!-- Feature Start -->
<div class="container-fluid bg-light bg-icon pb-5 mb-0">

    <ul class="nav nav-tabs row" role="tablist">
        <li class="nav-item px-0 col-12 col-md-4" role="presentation">
            <a class="nav-link active bg-primary text-light text-center" data-bs-toggle="tab" href="#current-bag" aria-selected="true" role="tab">Current Bag</a>
        </li>
        <li class="nav-item px-0 col-12 col-md-4" role="presentation">
            <a class="nav-link bg-secondary text-light text-center" data-bs-toggle="tab" href="#confirmed-orders" aria-selected="false" role="tab" tabindex="-1">Confirmed Orders</a>
        </li>
        <li class="nav-item px-0 col-12 col-md-4" role="presentation">
            <a class="nav-link bg-info text-light text-center" data-bs-toggle="tab" href="#orders-tracking" aria-selected="false" role="tab" tabindex="-1">Active Orders</a>
        </li>
    </ul>

    <div id="myTabContent" class="tab-content">

        <div class="tab-pane fade active show" id="current-bag" role="tabpanel">
            <div class="container">
                <div class="section-header text-center mx-auto my-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 1500px;">
                    <div>
                        <h1 id="page-main-element-1" class="display-5 @(Model.Count == 0 ? "d-none" : "")">Your Bag Has</h1>
                        <h1 id="page-main-element-2" class="display-5 @(Model.Count == 0 ? "" : "d-none")">Your Bag Is Still Empty!</h1>
                    </div>
                    <br />
                    <div class="row">
                        <span id="current-logger-id" hidden>@User.Claims.ToList().ElementAt(0).ToString().Split(":")[2]</span>
                        <div class="table-responsive">
                            <table id="page-main-element-3" class="table table-hover align-middle @(Model.Count == 0 ? "d-none" : "")">
                                <thead>
                                    <tr>
                                        <th scope="col">Serial Number</th>
                                        <th scope="col">Product Name</th>
                                        <th scope="col">Product Price (EGP)</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Sub-Total (EGP)</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody id="items-table-body">
                                    @{
                                        int counter = 0;
                                        float totalPrice = 0;

                                        foreach (ShoppingBagItem item in Model)
                                        {
                                            <tr id="item-number-@item.Id" class="shopping-bag-items">
                                                <td>@(++counter)</td>
                                                <td hidden>@item.Id</td>
                                                <td>@item.Name</td>
                                                <td>@item.UnitPrice</td>
                                                <td><input type="number" class="form-control mx-auto" style="width:70px" min="1" value=@item.Quantity oninput="calculateTotalPrice(@item.UnitPrice, this.value, @item.Id)" /></td>
                                                <td id="sub-total-price-@item.Id" class="sub-totals-sum">@item.SubTotalPrice</td>
                                                <td hidden>@item.LoggerId</td>
                                                <!-- Button trigger modal -->
                                                <td><button class="btn btn-secondary" type="button" data-bs-toggle="modal" data-bs-target="#itemStaticBackdrop-@item.Id">Delete</button></td>
                                            </tr>

                                            totalPrice += (item.UnitPrice * item.Quantity);
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                        <h4 id="page-main-element-4" class="mt-3 @(Model.Count == 0 ? "d-none" : "")">Total Cost <span class="text-info" id="total-price">EGP @totalPrice</span></h4>
                    </div>
                    <button type="button" id="order-confirmation" class="btn btn-primary rounded-pill py-3 px-5 fs-6 mt-3 @(Model.Count == 0 ? "d-none" : "")" onclick="constructThenRelateThenRedirect(event)">Confirm Order</button>
                </div>

            </div>
        </div>

        @foreach (ShoppingBagItem item in Model)
        {
            <!-- Modal -->
            <div class="modal fade" id="itemStaticBackdrop-@item.Id" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="shoppingBagItemDeletionModal" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Confirm Deletion!</h1>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete this <strong>@item.Name</strong> item?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" onclick="deleteItemAsync(@item.Id)" data-bs-dismiss="modal">Yes, I meant it</button>
                        </div>
                    </div>
                </div>
            </div>
        }

        
        <div class="tab-pane fade" id="confirmed-orders" role="tabpanel">
            <div class="container">
                <div class="section-header text-center mx-auto my-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 1500px;">
                    <div class="mb-5">
                        <h1 class="display-5">My Orders</h1>
                    </div>
                    <div id="userCardsContainer" class="d-flex justify-content-evenly flex-wrap">
                        @{
                            var orderCounter = 1;

                            var confirmedOrders = (List<Order>)ViewBag.UserConfirmedOrders;

                            foreach (Order order in confirmedOrders)
                            {
                                <div id="user-confirmed-order-@order.Id" class="card text-start mb-4">
                                    <div class="card-body">

                                        <h5 class="card-title">Order <span class="text-muted ordersCount">#@(orderCounter++)</span></h5>

                                        <table class="table table-hover align-middle">
                                            <tbody>
                                                <tr>
                                                    <td class="fw-bold">Order ID</td>
                                                    <td>@order.Id</td>
                                                </tr>
                                                <tr>
                                                    <td class="fw-bold">Total Cost (EGP)</td>
                                                    <td>@order.TotalCost</td>
                                                </tr>
                                                <tr>
                                                    <td class="fw-bold">Date-Time</td>
                                                    <td>@order.InitiatingDateAndTime</td>
                                                </tr>
                                                <tr>
                                                    <td class="fw-bold">Order Status</td>
                                                    <td>@order.Status</td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <div class="d-flex justify-content-center">
                                            <div class="fw-bold text-decoration-underline">Order Details</div>
                                        </div>

                                        <div class="table-responsive">
                                            <table class="table table-hover align-middle">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Product Name</th>
                                                        <th scope="col">Unit Price (EGP)</th>
                                                        <th scope="col">Quantity (Kg)</th>
                                                        <th scope="col">Sub-Total (EGP)</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{
                                                        var shoppingBagItems = order.ShoppingBagItems;

                                                        if (shoppingBagItems is not null)
                                                        {
                                                            foreach (var item in shoppingBagItems)
                                                            {
                                                                <tr>
                                                                    <td>@item.Name</td>
                                                                    <td>@item.UnitPrice</td>
                                                                    <td>@item.Quantity</td>
                                                                    <td>@item.SubTotalPrice</td>
                                                                </tr>
                                                            }
                                                        }
                                                    }
                                                </tbody>
                                            </table>

                                        </div>

                                        <div class="d-flex flex-column justify-content-center">
                                            <!-- Deletion button trigger modal -->
                                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmedOrderDeletionModal-@order.Id">Delete</button>
                                        </div>

                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>

        @foreach(Order order in confirmedOrders)
        {
            <!-- Deletion modal -->
            <div class="modal fade" id="confirmedOrderDeletionModal-@order.Id" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deletionStaticBackdrop" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Deletion Confirmation!</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete this confirmed order?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="performUserViewDeletionAsync(@order.Id)">Understood</button>
                        </div>
                    </div>
                </div>
            </div>
        }


        <div class="tab-pane fade" id="orders-tracking" role="tabpanel">
            <div class="container">
                <div id="tracked-orders-container" class="section-header text-center mx-auto my-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 1500px;">

                    <div class="mb-5">
                        <h1 class="display-5">Track Your Orders</h1>
                    </div>

                    @{
                        var activeOrdersCounter = 1;
                        var activeOrdersList = (List<Order>)ViewBag.UserConfirmedActiveOrders;

                        foreach(Order order in activeOrdersList)
                        {
                            <div id="tracked-user-active-order-@order.Id" class="tracked-active-orders d-flex justify-content-center align-items-center shadow bg-body-tertiary py-3 mb-4">

                                <span class="bg-info p-1 ms-1" style="border-top-left-radius:10px; border-bottom-right-radius:10px;">#@(activeOrdersCounter++)</span>
                                
                                <span class="fw-bold mx-2">ID-<span>@order.Id</span></span>

                                <div class="progress d-inline me-1" style="width: 40%; height: 25px;" role="progressbar" aria-label="Animated striped progress bar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated fw-bold" style="width: 0%; height: 25px;"></div>
                                </div>

                                <div class="progress d-inline ms-2 me-1" style="width: 40%; height: 25px;" role="progressbar" aria-label="Animated striped progress bar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-info fw-bold" style="width: 0%; height: 25px;"></div>
                                </div>

                                <div hidden>
                                    <span>@order.StartedPreparing</span>
                                    <span>@order.StartedDelivering</span>
                                </div>

                            </div>
                        }
                    }

                </div>
            </div>
        </div>

    </div>
</div>
<!-- Feature End -->
@section ShoppingBagScript {
    <script src="~/js/shoppingBag.js"></script>
}