
@model List<ShoppingBagItem>

<!-- Page Header Start -->
<div class="container-fluid page-header wow fadeIn" data-wow-delay="0.1s">
    <div class="container">
        <h1 class="display-3 mb-3 animated slideInDown">Shopping Bag</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a class="text-body" asp-controller="Home" asp-action="GetHomeView">Home</a></li>
                <li class="breadcrumb-item text-dark active" aria-current="page">Shopping Bag</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->



<!-- Feature Start -->
<div class="container-fluid bg-light bg-icon pb-6 mb-0">

    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" data-bs-toggle="tab" href="#current-bag" aria-selected="true" role="tab">Check Bag</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" href="#orders-tracking" aria-selected="false" role="tab" tabindex="-1">Track Orders</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" href="#confirmed-orders" aria-selected="false" role="tab" tabindex="-1">Confirmed Orders</a>
        </li>
    </ul>

    <div id="myTabContent" class="tab-content">

        <div class="tab-pane fade active show" id="current-bag" role="tabpanel">
            <div class="container">
                <div class="section-header text-center mx-auto my-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 1000px;">
                    <div>
                        <h1 class="display-5">Your Bag Has</h1>
                    </div>
                    <br />
                    <div class="row">
                        <table class="table table-hover align-middle">
                            <thead>
                                <tr>
                                    <th scope="col">Serial Number</th>
                                    <th scope="col">Product Name</th>
                                    <th scope="col">Product Price (EGP)</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Sub-Total (EGP)</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int counter = 0;
                                    foreach (ShoppingBagItem item in Model)
                                    {
                                        <tr class="shopping-bag-items">
                                            <td>@(++counter)</td>
                                            <td hidden>@item.Id</td>
                                            <td>@item.Name</td>
                                            <td>@item.UnitPrice</td>
                                            <td><input type="number" class="form-control mx-auto" style="width:70px" min="1" value=@item.Quantity oninput="calculateTotalPrice(@item.UnitPrice, this.value, @item.Id)" /></td>
                                            <td id="sub-total-price-@item.Id" class="sub-totals-sum">@item.SubTotalPrice</td>
                                            <td hidden>@item.LoggerId</td>
                                            <td><button class="btn btn-secondary">Delete</button></td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                        <h4 class="mt-3">Total Cost <span class="text-info" id="total-price">EGP 80.00</span></h4>
                    </div>
                    <button id="order-confirmation" class="btn btn-primary btn-lg mt-3" onclick="persistCurrentOrderInDatabase(event)">Confirm Order</button>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="orders-tracking" role="tabpanel">
            <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.</p>
        </div>
        
        <div class="tab-pane fade" id="confirmed-orders" role="tabpanel">
            <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.</p>
        </div>
    </div>

</div>
<!-- Feature End -->
@section ShoppingBagScript {
    <script src="~/js/shoppingBag.js"></script>
}