
@model List<Order>

<!-- Page Header Start -->
<div class="container-fluid page-header wow fadeIn" data-wow-delay="0.1s">
    <div class="container">
        <h1 class="display-3 mb-3 animated slideInDown">Orders</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a class="text-body" asp-controller="Home" asp-action="GetHomeView">Home</a></li>
                <li class="breadcrumb-item text-dark active" aria-current="page">Orders</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->
<!-- Order Start - Admin View-->
<div class="container-fluid bg-light bg-icon py-6 mb-0">
    <div class="container">
        <div class="section-header text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="width: 100%;">
            <div class="mb-5">
                <h1 class="display-5">Customers Orders</h1>
            </div>
            <div id="cardsContainer" class="d-flex justify-content-evenly flex-wrap">
                @{
                    var counter = 1;

                    foreach (Order order in Model)
                    {
                        <div class="card text-start mb-3" style="width: 40%;">
                            <div class="card-body">

                                <h5 class="card-title">Order <span class="text-muted ordersCount">#@(counter++)</span></h5>

                                <table class="table table-hover align-middle">
                                    <tbody>
                                        <tr>
                                            <td class="fw-bold">Customer Name</td>
                                            <td>@order.Logger?.FullName</td>
                                        </tr>
                                        <tr>
                                            <td class="fw-bold">Phone Number</td>
                                            <td>@order.Logger?.PhoneNumber</td>
                                        </tr>
                                        <tr>
                                            <td class="fw-bold">Total Cost (EGP)</td>
                                            <td>@order.TotalCost</td>
                                        </tr>
                                        <tr>
                                            <td class="fw-bold">Date-Time</td>
                                            <td>@order.InitiatingDateAndTime</td>
                                        </tr>
                                        <tr>
                                            <td class="fw-bold">Order Status</td>
                                            <td>
                                                <div>
                                                    <select class="form-select" aria-label="Order status selection" value=@order.Status>
                                                        <option value="Active">Active</option>
                                                        <option value="Done">Done</option>
                                                        <option value="Cancelled">Cancelled</option>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label class="form-check-label fw-bold">Preparing</label>
                                            </td>
                                            <td>
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input" type="checkbox" role="checkbox" id="firstFlexSwitchCheck" value=@order.StartedPreparing>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label class="form-check-label fw-bold">Delivering</label>
                                            </td>
                                            <td>
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input" type="checkbox" role="checkbox" id="secondFlexSwitchCheck" value=@order.StartedDelivering>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <div class="d-flex justify-content-center">
                                    <div class="fw-bold text-decoration-underline">Order Details</div>
                                </div>

                                <table class="table table-hover align-middle">
                                    <thead>
                                        <tr>
                                            <th scope="col">Product Name</th>
                                            <th scope="col">Unit Price (EGP)</th>
                                            <th scope="col">Quantity (Kg)</th>
                                            <th scope="col">Sub-Total (EGP)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            var shoppingBag = order.ShoppingBagItems;

                                            if (shoppingBag is not null)
                                            {
                                                foreach (var shoppingBagItem in shoppingBag)
                                                {
                                                    <tr>
                                                        <td>@shoppingBagItem.Name</td>
                                                        <td>@shoppingBagItem.UnitPrice</td>
                                                        <td>@shoppingBagItem.Quantity</td>
                                                        <td>@shoppingBagItem.SubTotalPrice</td>
                                                    </tr>
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
<!-- Order End - Admin View -->

@section OrderScript {
    <script src="~/js/order.js"></script>
}
