
@model List<CustomerMessage>

<!-- Page Header Start -->
<div class="container-fluid page-header wow fadeIn" data-wow-delay="0.1s">
    <div class="container">
        <h1 class="display-3 mb-3 animated slideInDown">Customers Messages</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a class="text-body" asp-controller="Home" asp-action="GetHomeView">Home</a></li>
                <li class="breadcrumb-item text-dark active" aria-current="page">Customers Messages</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->
<!-- Feature Start -->
<div class="container-fluid bg-light bg-icon py-6 mb-0">
    <div class="container">
        <div class="section-header text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 1000px;">
            <div>
                <h1 class="display-5">See Customers Messages</h1>
            </div>
            <br />
            <div class="text-center row">
                <table class="table table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Subject</th>
                            <th scope="col">Message</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int counter = 1;
                            foreach (CustomerMessage message in Model)
                            {
                                <tr id="message-number-@message.Id">
                                    <td>@(counter++)</td>
                                    <td>@message.UserName</td>
                                    <td>@message.PhoneNumber</td>
                                    <td>@message.Subject</td>
                                    <td>@message.Message</td>
                                    <!-- Button trigger modal -->
                                    <td><button class="btn btn-secondary" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop-@message.Id">Delete</button></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>

                @foreach(CustomerMessage message in Model)
                {
                    <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop-@message.Id" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Confirm Deletion!</h1>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to delete this message from <strong>@message.UserName</strong>?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" onclick="deleteAsync(@message.Id)" data-bs-dismiss="modal">Yes, I meant it</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
<!-- Feature End -->

@section Scripts {
    <script>
        async function deleteAsync(id) {
            $.support.cors = true;
            await $.ajax({
                url: `/ContactUs/Delete/${id}`,
                type: "GET",
                cache: false,
                success: (result, status, xhr) => {
                    if (result == true) {
                        const deletedProduct = document.getElementById(`message-number-${id}`);
                        deletedProduct.remove();
                    }
                },
                error: (xhr, status, error) => { }
            });
        }
    </script>
}